body {
  margin: 0;
  font-family: "Avenir Next";
}

li{
  list-style: none;
   
}

ul{
  margin: 0;
}

.container {
  width: 100%;
}

* {
  box-sizing: border-box;
}
/*--html1のheader--*/

.header{
  margin-top: 0px;
  padding-top: 0px;
  background-color: rgba(109, 158, 12, 0.8);
  width:100%;
  height: 90px;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.header-logo{
  font-size: 36px;
  float: left;
  padding: 0px 40px;
  line-height: 90px;
}
.header-logo a{
  color: #fff;
  display: block;
  opacity: 0.8;
}

.header-logo:hover{
  opacity: 1;
  transition: 0.5s;
  background-color: #009900;
}

.header-list li{
  float: left;
  padding: 0px 20px;
  line-height: 90px;
  opacity: 0.8;
}

.header-list li:hover{
  opacity: 1;
  transition: 0.5s;
  background-color: #009900;  
}

.header-list a{
  color: #fff;
  display: block;
}
  
/*--html1のmain--*/
.main {
  padding: 90px 0px;
}

.copy-container{
  color: #fff;
  background-image: url(http://urx.red/0nNK);
  background-size: cover;
}
.copy-container h1 {
  font-size: 120px;
  margin: 0px 80px;
}
  
.copy-container h2 {
  font-size: 40px;
  margin-left: 80px;
  margin-bottom: 0px;
}
  
.copy-container span {
  color: #009900;
}

  .contents-container{
    text-align: center;
    height: 450px;
  }


  .section-title{
    border-bottom: 2px solid #009900;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
  

  .item {
    float: left;
    width: 33%;
    padding-right: 15px;
    padding-left: 15px;
  } 

  

  .item-fig p{
    font-weight: bold;
    font-size: 24px;
    margin-top: 15px;
    width: 100%;
  }
 
  .txt-contents{
    width: 80%;
    display: inline-block;
  }
/*--html1のfooter--*/
.footer{
    background-color: #2f5167;
    color: #fff;
    height: 40px;
    padding: 20px 20px 0px 20px;
  }


  .copy-right{
      font-size: 10px;
      text-align: center;
  }
  
